# REST API Configuration
# REST_API_ENDPOINT=http://your-api-url.com/api

# App Environment
# APP_ENV=development
# DEBUG=true

REST_API_ENDPOINT=http://10.0.2.2:3000/api
APP_ENV=development
DEBUG=true